<div class="relative min-h-screen bg-cover bg-center flex items-center justify-center" style="background-image: url('https://img.freepik.com/premium-photo/model-wooden-hand-moving-wooden-stick-with-text-concept-life-insurance-security-future-financial-plans-stability-3d-rendering_1226542-6007.jpg?ga=GA1.1.1836087536.1737035221&semt=ais_hybrid');">
  <div class="absolute inset-0 bg-black opacity-50"></div>

  <div class="relative z-10 text-center text-white p-12">
    <div class="mb-8">
      <img src="/assets/groopl.png" alt="Logo" class="mx-auto sm:h-24"/>
    </div>

  <div class="relative z-10 text-center text-white p-12">
    <h1 class="text-4xl sm:text-5xl lg:text-6xl font-bold mb-6">Welcome to Groopl Insurance Policy</h1>
    <p class="text-lg sm:text-xl mb-8">Secure your future with the best insurance policies designed for you.</p>

    <div class="flex space-x-6 justify-center mt-8">
      <a routerLink="/signin" class="text-blue-500 bg-transparent border-2 border-white hover:bg-white hover:text-blue-500 py-3 px-8 rounded-lg text-lg font-semibold transition duration-300 ease-in-out">
        Sign In
      </a>
      <a routerLink="/signup" class="text-white bg-blue-500 hover:bg-blue-700 py-3 px-8 rounded-lg text-lg font-semibold transition duration-300 ease-in-out">
        Get Started
      </a>
    </div>
  </div>
</div>
</div>
