<div class="min-h-screen bg-gray-100 p-6">
  <div class="bg-white rounded-lg shadow-lg p-6 mb-8 flex items-center justify-between">
    <div class="text-lg font-semibold text-gray-700">
      <p>Welcome, <span class="text-blue-600">{{ authUser()?.email }}</span></p>
    </div>
    <div class="flex gap-4">
      <a routerLink="/policies/new" class="text-white bg-blue-500 hover:bg-blue-700 py-2 px-6 rounded-lg text-lg font-semibold transition duration-300 ease-in-out">
        Create Policy
      </a>
      <button (click)="signout()" class="text-white bg-red-500 hover:bg-red-600 py-2 px-6 rounded-lg text-lg font-semibold transition duration-300 ease-in-out">
        Sign Out
      </button>
    </div>
  </div>

  <div class="bg-white rounded-lg shadow-lg p-6">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Policies</h2>

    <div class="mb-4 flex items-center space-x-4">
    <div class="mb-4 flex items-center space-x-4">
      <label for="policy-type-filter" class="text-gray-700 text-sm font-semibold">Filter by Policy Type:</label>
      <select [(ngModel)]="selectedPolicyType" id="policy-type-filter" class="border px-4 py-2 rounded-lg">
        <option value="">All Types</option>
        <option value="House Policy">House Policy</option>
        <option value="Car Policy">Car Policy</option>
        <option value="Medical Policy">Medical Policy</option>
      </select>
    </div>

    <div class="mb-4 flex items-center space-x-4">
      <label for="email-search" class="text-gray-700 text-sm font-semibold">Search by Policyholder Email:</label>
      <input
        type="text"
        id="email-search"
        [(ngModel)]="emailSearchTerm"
        class="border px-4 py-2 rounded-lg"
        placeholder="Enter email"
      />
    </div>
    </div>

    <table class="min-w-full table-auto border-collapse">
      <thead class="bg-gray-100">
      <tr class="text-left">
        <th class="px-4 py-2 text-sm font-semibold text-gray-600">Policy Number</th>
        <th class="px-4 py-2 text-sm font-semibold text-gray-600">Policyholder Name</th>
        <th class="px-4 py-2 text-sm font-semibold text-gray-600">Policyholder Email</th>
        <th class="px-4 py-2 text-sm font-semibold text-gray-600">Policyholder Phone</th>
        <th class="px-4 py-2 text-sm font-semibold text-gray-600">Start Date</th>
        <th class="px-4 py-2 text-sm font-semibold text-gray-600">End Date</th>
        <th class="px-4 py-2 text-sm font-semibold text-gray-600">Premium Amount</th>
        <th class="px-4 py-2 text-sm font-semibold text-gray-600">Coverage Amount</th>
        <th class="px-4 py-2 text-sm font-semibold text-gray-600">Policy Type</th>
        <th class="px-4 py-2 text-sm font-semibold text-gray-600">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let policy of filteredPolicies()">
        <td class="px-4 py-2 text-sm text-gray-800">{{policy.policyNumber}}</td>
        <td class="px-4 py-2 text-sm text-gray-800">{{policy.policyholderName}}</td>
        <td class="px-4 py-2 text-sm text-gray-800">{{policy.policyholderEmail}}</td>
        <td class="px-4 py-2 text-sm text-gray-800">{{policy.policyholderPhone}}</td>
        <td class="px-4 py-2 text-sm text-gray-800">{{policy.startDate | date: 'mediumDate'}}</td>
        <td class="px-4 py-2 text-sm text-gray-800">{{policy.endDate | date: 'mediumDate'}}</td>
        <td class="px-4 py-2 text-sm text-gray-800">{{policy.premiumAmount}}</td>
        <td class="px-4 py-2 text-sm text-gray-800">{{policy.coverageAmount}}</td>
        <td class="px-4 py-2 text-sm text-gray-800">{{policy.policyType}}</td>
        <td class="px-4 py-2 text-sm text-gray-800">
          <a [routerLink]="['/policies',policy.id,'edit']" class="text-blue-600 hover:text-blue-800 mr-2">
            <i class="fas fa-edit"></i>
          </a>
          <button (click)="openDeleteModal(policy.id)" class="text-red-600 hover:text-red-800">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
      <tr *ngIf="filteredPolicies().length === 0">
        <td colspan="10" class="px-4 py-4 text-center text-gray-500">No Policies</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="showConfirmDialog" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-white p-6 rounded-lg w-96">
    <h3 class="text-lg font-normal text-gray-500 mb-4">Are you sure you want to delete this policy?</h3>
    <div class="flex justify-end gap-4">
      <button (click)="closeConfirmDialog(false)" class="w-full sm:w-auto text-white bg-gray-600 hover:bg-gray-700 py-2 px-6 rounded-lg text-lg font-semibold transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-gray-500">Cancel</button>
      <button (click)="closeConfirmDialog(true)" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">Delete</button>
    </div>
  </div>
</div>
